<html>
  <head></head>
  <body>
    <p>
        This is the Caesar Cypher criptografy.
        Please, enter with a text to be criptografied.
        Method in which each letter in the plaintext is 
        replaced by a letter some fixed number of positions down the alphabet.
        The method is named after Julius Caesar, 
        who used it in his private correspondence.
    </p>
    <form>
      <p>
          Enter with the menssage:
      </p>
        <input type= 'text' name= 'word' />
        <p>
          Enter with the number:
        </p>
        <input type= 'text'name= 'number'/>
        <input type= 'submit' value= 'Shuffle!' />
    <form>

    <p>
        The message "<%= word %>" turns into: <%= code %>
    </p>
        
    
  </body>
</html>